.author {
  position:absolute;
  bottom:1rem;
  text-align:center;
  width:100%;
  color:rgb(214, 214, 214);
}
.author span {
  font-size:1.2rem;
  font-weight: 500;
}
.author span.name {
  font-size:1.3rem;
  font-weight:400;
  color:rgb(169, 255, 169);
}
.author span.heart {
  font-size:1.5rem;
  color:red;
}